body {
  background-color: #e3e3e3;
}
.main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-family: cursive;
}

.main__left {
  position: relative;
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
}

.main__videos {
  flex-grow: 1;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main__controls {
  background-color: #eee;
}

.main__right {
  background-color: #d5ffae;
  border-left: 3px solid #d5ffae;
}

.main__controls {
  color: #29372a;
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
  transition: all 0.5s;
}

.main__controls__button:hover {
  background-color: #fefefe;
  color: #323232;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.main__right {
  display: flex;
  flex-direction: column;
}

.main__header {
  padding-top: 5px;
  color: #1f1f1f;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: #1f1f1f;
  list-style: none;
}

.main__message_container {
  padding: 22px 12px;
}

.main__message_container input {
  background-color: transparent;
  padding: 10px;
  border: none;
  color: #1f1f1f;
}

.unmute,
.stop {
  color: #cc3b33;
}

.meetGroup {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .main__left {
    flex: 2;
  }

  .main__right {
    flex: 1;
  }
}
